* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-section {
    height: 80px;
    border-bottom: 1px solid black;
}

.head-section p {
    padding-left: 150px;
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

#myInput {
    background-image: url(download.jfif);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 22px;
    font-size: 20px;
    width: 350px;
    height: 40px;
    margin-top: 10px;
    padding: 12px 20px 12px 40px;
    border-radius: 5px;
}

.sec {
    margin: 30px;
}

.sec .btnAdd {
    padding: 0 10px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 7px;
    width: 170px;
    height: 45px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: blueviolet;
}

.btnAdd:hover {
    cursor: pointer;
}

.buttons button {
    justify-content: right;
    align-items: end;
    text-align: right;
}

#dataDisplay {
    text-align: center;
    margin-top: 50px;
    box-shadow: 5px 5px 5px 5px rgb(218, 211, 211);
}

.table-sortable th {
    cursor: pointer;
    background-color: rgb(117, 103, 243);
    color: white;
}
.table-sortable tr:nth-child(even){
    background-color: #f2f2f2;
}

.table-sortable .th-sort-asc::after {
    content: '\25b4';
    font-size: 18px;
    margin-left: 5px;
}

.table-sortable .th-sort-desc::after {
    content: '\25be';
    margin-left: 5px;
}
.error{
    color: red;
}